# Node.js dependencies
node_modules/


dist/
build/
public/

.env
.env.local
.env.development
.env.production


*.log
*.tmp
*.cache


.DS_Store
Thumbs.db


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


output.css